
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #140726;
    color: #fff;

}
/* ================= NAVBAR ================= */
.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 40px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ff3cac;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn-gradient {
    background: linear-gradient(90deg, #ff3cac, #784ba0);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.menu-icon {
    display: none;
    width: 24px;
}

/* ================= HERO ================= */
.hero {
    background: url("assets/hero-bg.png") no-repeat center/cover;
    padding: 80px 20px;
    text-align: center;
}

.hero-circle {
    width: 200px;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-primary, .btn-outline {
    padding: 12px 20px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-primary {
    background: linear-gradient(90deg, #ff3cac, #784ba0);
    border: none;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 1px solid #ff3cac;
    color: white;
}

/* ================= ABOUT ================= */
.about {
    padding: 60px 20px;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}

.stat h3 {
    color: #2dff9a;
}


/* ================= FEATURES ================= */
.features {
    padding: 60px 20px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background: #241046;
    padding: 20px;
    border-radius: 16px;
}

/* ================= EPISODES ================= */
.episodes {
    padding: 60px 20px;
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.episode-card iframe {
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
